.userItem img {
    width: 40px;
    border-radius: 50%;
}

.userName {
    font-size: 10px;
}

.friendsItem {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    padding-top: 10px;
    gap: 10px;
    text-decoration: none;
    color: white;
}