.selectedPage {
    font-weight: bold;
}

.paginator {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageNumber {
    border: solid 1px gray;
    padding: 3px;
}